pandas
sensible
click
pytest
pylint
ipython
flask
pylint-flask
Flask-API
requests
flasgger
pytest-flask
pytest-cov
jupyter
matplotlib
seaborn
numpy
jupyter-server>=2.7.2 # not directly required, pinned by Snyk to avoid a vulnerability